<a href="v2/api-docs">API Docs</a>&nbsp;|&nbsp;
<a href="swagger-ui-custom.html">Swagger UI</a>&nbsp;|&nbsp;
<a href="h2-console">H2 Console (JDBC-URL: jdbc:h2:mem:testdb)</a><br><br>
<a href="api-docs">springdoc-openapi</a>&nbsp;|&nbsp;
<a href="swagger-ui/index.html">Default Swagger UI</a>
</body>
</html>